@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}
.btn {
  background: linear-gradient(100.94deg, rgb(56, 83, 240) 0%, #008deb 100%);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: white;
  padding: 16px 33px;
  border-radius: 3px;
}
.text-primary {
  color: #06258b;
}
